@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    display: block;
    /* Display block + specify flex for info container for better side-by-side alignment*/
    /* IDK why this works, it shouldn't, Kisha Martin helped */
    text-align: center;
    background: linear-gradient(blue, cyan, cyan, green);
    /* background-color: blueviolet; */
    /* https://www.w3schools.com/html/html_images_background.asp */
    /* Looked at "Background stretch" */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

header {
    margin: auto;
}

.full-display {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1rem;
}

.location-info {
    font-size: 2rem;
    margin: auto;
}

.condition-info {
    justify-content: center;
    font-size: 2rem;
}

.number-data {
    margin: auto;
}

.data-header {
    border-style: groove;
    border: 0.5rem solid saddlebrown;
    background-color: burlywood;
}

.data-number {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

@media screen and (max-width: 800px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        background-color: blue;
    }

    header {
        margin: auto;
    }

    .full-display {
        display: flex;
        flex-direction: column;

    }

    .location-info {
        font-size: 2rem;
        margin: auto;
    }
    
    .condition-info {
        justify-content: center;
        font-size: 2rem;
    }
}